.body {
  margin: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: dimgrey;
}

.display-4 {
  text-align: center;
  font-size: xx-large;
}

.employee-image {
  border-radius: 20px;
}

.employee-name {
  font-weight: bold;
  text-align: center;
}

.desc {
  text-align: center;
}

.form-group {
  text-align: center;
  
}
